.frame {
  background-color: aqua;
  height: 117px;
  width: 117px;
  border: 10px solid transparent;
  border-image: url(../assets/Marco.png) 30 round;
  position: relative;
  top: 40px;
  left: 550px;
}

.window {
  height: 117px;
  position: relative;
  top: 150px;
  left: 200px;
}

.ok {
  height: 20px;
  position: relative;
  top: 140px;
  left: 120px;
}

.windows7 {
  background-image: url(../assets/win7.jpg);
  background-repeat: no-repeat;
  height: 400px;
  width: 728px;
}

@media (min-width: 600px) {
  .phone {
    display: none;
  }
}